<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="public/css/style.css">
		<title>Financial App</title>
	</head>
	
	<body id="app">
		<header>
			<h1>Financial App <span>Antevenio Test</span></h1>
		</header>

		<article class="expenses_application">
			<section class="new_expense">
				<h2>NUEVO GASTO</h2>
				<form>
					<input type="text" id="input_description" placeholder="Descripción" />
					<input type="text" id="input_amount" placeholder="Euros" />
					<button class="btn" id="create">Crear</button>
				</form>
			</section>
			<section class="expenses_container">
				<h2>GASTOS</h2>
				<div class="expenses"></div>
			</section>
		</article>

		<script type="text/template" id="tplShowExpense">
			<div class="expense">
				<h3><%= description %><button class="delete btn">Eliminar</button></h3>
				<em><%= amount %> €</em>
			</div>
		</script>

		<script type="text/javascript" src="public/js/vendor/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="public/js/vendor/underscore.js"></script>
		<script type="text/javascript" src="public/js/vendor/backbone.js"></script>

		<script type="text/javascript" src="public/js/backbone/models/expense.js"></script>
		<script type="text/javascript" src="public/js/backbone/collections/expenses.js"></script>
		<script type="text/javascript" src="public/js/backbone/views/views.js"></script>
		<script type="text/javascript" src="public/js/backbone/routes/routes.js"></script>
		<script type="text/javascript" src="public/js/init.js"></script>
	</body>

</html>